.footer {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right,
     rgb(253, 253, 253), rgb(90, 82, 165));
    bottom: 0;
}
